{% extends "base.html" %}

{% block title %}Personal info for user {{ profile.user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>42 Coffee Cups Test Assignment</h1>
        <br/>
        <br/>
        <br/>
        <h2>Developer personal information</h2>
        <br/>
        <br/>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <p><strong>Name:</strong> {{ profile.user.first_name }}</p>
                <p><strong>Last name:</strong> {{ profile.user.last_name }}</p>
                <p><strong>Date of birth:</strong> {{ profile.birth_date }}</p>
                <p>
                    <strong>Brief bio:</strong> {{ profile.bio }}
                </p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <h3>Contacts</h3>
                <p><strong>Email:</strong> {{ profile.user.email }}</p>
                <p><strong>Jabber:</strong> {{ profile.jabber }}</p>
                <p><strong>Skype:</strong> {{ profile.skype }}</p>
                <h3>Other contacts</h3>
                <p>{{ profile.other_contacts|safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}