{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Personal info for user {{ profile.user.username }}{% endblock %}
{% block extra_head %}
    <script src="{% static "js/in-view.min.js" %}"></script>
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <h1>42 Coffee Cups Test Assignment</h1>
        <br/>
        <br/>
        <br/>
        <h2>Developer personal information</h2>
        <br/>
        <br/>

        <form class="form-horizontal" method="post" action="" id="contact-edit-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    {#                    <div class="col-sm-6">#}
                    {##}
                    {#                    </div>#}
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="first_name"><strong>Name:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="first_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="last_name"><strong>Last name:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="last_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="birth_date"><strong>Date of birth:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="date" id="birth_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="photo"><strong>Photo:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="file" id="photo"
                                   accept="image/x-png,image/gif,image/jpeg">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <img src="http://placehold.it/200x200" alt="Developer photo" height="200" width="200">
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h3 class="first-header">Contacts</h3>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="email"><strong>Email:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="email" id="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="jabber"><strong>Jabber:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="jabber">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="skype"><strong>Skype:</strong></label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" id="skype">
                        </div>
                    </div>
                    <h3>Other contacts</h3>
                    <textarea class="form-control" id="other_contacts" title="Other contacts" rows="15"></textarea>

                    <h3>Bio</h3>
                    <textarea class="form-control" id="bio" title="Brief bio" rows="15"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="submit" value="Submit" id="btn-submit-form">Submit</button>
            </div>
        </form>
        <hr class="divider">
        <br/>
        <br/>
        <br/>
        <div class="row">
            <h2>Requests</h2>
        </div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Path</th>
                <th>Method</th>
                <th>IP</th>
            </tr>
            </thead>
            <tbody id="requests-table"></tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>

    {#    <div class="load-indicator">#}
    {#        <div class="loader">Loading...</div>#}
    {#    </div>#}

    <script src="{% static "js/functions.js" %}"></script>
    <script>
        var editContactSubmitURL = "{% url "hardcoded:edit-contact" %}";
        $(function () {
            $("#btn-submit-form").click(function (event) {
                event.preventDefault();
                var form = $("#contact-edit-form");

                var data = new FormData(form[0]);

                disableForm();
                showLoadingScreen();

                $.ajax({
                    method: "POST",
                    enctype: "multipart/form-data",
                    url: editContactSubmitURL,
                    data: data,
                    processData: false,
                    success: function (data) {
                        hideLoadingScreen();
                        enableForm();
                        console.log(data)
                    },

                    error: function (error) {
                        hideLoadingScreen();
                        enableForm();
                        console.log(error)
                    }
                })
            })
        });
    </script>

{% endblock %}